.Datapad {
	display: flex;
	flex-direction: row;
	text-align: center;
	min-height: 500px;
	height: 100%;
}

.Datapad-menu {
	width: 200px;
	text-align: center;
	float: left;
	background-color: #3b4d70;
	min-height: 500px;
}

.Datapad-menu-item {
	width: 100%;
	height: 50px;
	border: 5px;
	border-color: aqua;
}

.Datapad-view {
	text-align: center;
	float: right;
	flex: 1;
}
