.App {
	display: flex;
	flex-direction: column;
	background-color: #3b414d;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	color: white;
}

.App-header {
	position: relative;
	background-color: #282c34;
}

.App-header-logo {
	float: center;
	height: 75px;
	margin: 15px;
	pointer-events: none;
	object-fit: cover;
}

.App-header-burger-button {
	position: absolute;
}

.Datapad {
	display: flex;
	flex-direction: row;
	text-align: center;
	height: 100%;
}

.Datapad-view {
	text-align: center;
	float: right;
	flex: 1;
}

.Burger {
	position: relative;
	height: 100%;
}

.Datapad-app-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	text-align: center;
	float: left;
	background-color: #282c34;
	padding-left: 2px;
	padding-right: 2px;
}

.Datapad-menu-item {
	width: 100%;
	padding-bottom: 0px;
}
