.Datapad {
	display: flex;
	flex-direction: row;
	text-align: center;
	min-height: 500px;
	height: 100%;
}

.Datapad-view {
	text-align: center;
	float: right;
	flex: 1;

	/*
	 * We see scroll bars if we don't do this. Not sure why :/
	 */
	overflow: hidden;
}

.Datapad-app-menu {
	width: 200px;
	text-align: center;
	float: left;
	background-color: #3b4d70;
}

.Datapad-menu-item {
	width: 100%;
}
